<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<div th:switch="${Rooms}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Rooms</h2>
        <table>
            <thead>
            <tr>
                <th>Room Type</th>
                <th>Room Number</th>
                <th>Room Price</th>
                <th>Floor Number</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Room : ${Rooms}">
                <td th:text="${Room.getRoomType()}"></td>
                <td th:text="${Room.getRoomNumber()}"></td>
                <td th:text="${Room.getPrice()}"></td>
                <td th:text="${Room.getFloorNumber()}"></td>
                <td><a th:href="@{/edit/{id}(id=${Room.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${Room.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/signup">Add a new Room</a></p>
</div>

<!--/*@thymesVar id="Room" type="java"*/-->
<!--<form action="#"-->
<!--      th:action="@{/update/{id}(id=${Room.id()})}"-->
<!--      th:object="${Room}"-->
<!--      method="post">-->
<!--    <label for="roomType">Room Number</label>-->
<!--    <input type="text" th:field="*{roomType}" id="roomType" placeholder="Room Type">-->
<!--    <span th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></span>-->
<!--    <label for="roomType">Room Number</label>-->
<!--    <input type="text" th:field="*{roomNumber}" id="roomNumber" placeholder="Room Number">-->
<!--    <span th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}"></span>-->
<!--    <input type="submit" value="Update Room">-->
<!--</form>-->

</html>