<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Checkout example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../form-validation.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>Create Admin Account</h2>
        <p class="lead">Please enter your details in order to create your account.</p>
    </div>


    <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Personal Information</h4>
        <form action="#"  th:action="@{/SignUpAdmin}" th:object="${admin}"  method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="name">Full Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Name">

                </div>

                <div class="mb-3">
                    <label for="dateOfBirth">Date of Birth</label>
                    <input type="text" th:field="*{dateOfBirth}" id="dateOfBirth" placeholder="Date Of Birth">

                </div>
            </div>
            <div class="mb-3">
                <label for="employeeId">Employee ID</label>
                <input type="text" th:field="*{employeeId}" id="employeeId" placeholder="Employee ID">

            </div>
            <div class="mb-3">
                <label for="userName">Username</label>


                <input type="text" th:field="*{userName}" id="userName" placeholder="UserName">


            </div>

            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" th:field="*{email}" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Invalid email address">

            </div>

            <div class="mb-3">
                <label for="userPassword"> User Password</label>
                <input type="password" th:field="*{userPassword}"  id="userPassword" placeholder="User Password"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">

            </div>

            <div class="mb-3">
                <label for="homeAddress">Home Address<span class="text-muted"></span></label>
                <input type="text" th:field="*{homeAddress}" id="homeAddress" placeholder="Home Address">

            </div>

            <div class="mb-3">
                <label for="phoneNumber">Phone Number <span class="text-muted"></span></label>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="555-555-5555">

            </div>

            <hr class="mb-4">
            <input type="submit" value="Add Admin"/>
        </form>
    </div>


    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017-2018 ABCFG Hotel</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../jquery-slim.min.js"><\/script>')</script>
<script src="../popper.min.js"></script>
<script src="../bootstrap.min.js"></script>
<script src="../holder.min.js"></script>
<script>

</script>
</body>
</html>
