<!doctype html>
<html
        xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="utf-8">

</head>
<body>
<form action="#" th:action="@{/room/update/{id}(id=${Room.id})}" th:object="${Room}" method="post">

    <input type="hidden" th:field="*{id}" name="roomId" id="roomId" />

    <label for="roomType">Room Type</label>
    <input type="text" th:field="*{roomType}" id="roomType" placeholder="Room Type">
    <span th:if="${#fields.hasErrors('roomType')}" th:errors="*{roomType}"></span>

    <label for="roomNumber">Room Number</label>
    <input type="text" th:field="*{roomNumber}" id="roomNumber" placeholder="Room Number">
    <span th:if="${#fields.hasErrors('roomNumber')}" th:errors="*{roomNumber}"></span>

    <label for="price">Price</label>
    <input type="text" th:field="*{price}" id="price" placeholder="Price">
    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

    <label for="floorNumber">Floor Number</label>
    <input type="text" th:field="*{floorNumber}" id="floorNumber" placeholder="Floor Number">
    <span th:if="${#fields.hasErrors('floorNumber')}" th:errors="*{floorNumber}"></span>

    <input type="submit" value="Update Room">
    <a class="button" href="/dashboardAdmin">Return to Admin Dashboard</a>
</form>
</body>
</html>